.input {
	padding: 8px;
	border-radius: 8px;
	border: 1px solid var(--secondary);
	outline: none;
}

.input:focus {
	border: 1px solid var(--accent);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.errorText {
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--accent);
}

.submitButton {
	width: 10dvw;
	composes: shoppingCartItemButton from '../styles/shoppingItem.module.css';
}

.label {
	font-size: 1.5rem;
	font-weight: 700;
}

.header {
	font-size: 2.5rem;
	font-weight: 800;
}

.checkoutContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8px;
}
