nav {
	padding: 8px;
	display: flex;
	flex-direction: column;
}

.navbarMenu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.documentName {
	font-size: 4rem;
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans',
		source-sans-pro, sans-serif;
	font-weight: 800;
	text-align: center;
}

.link {
	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo,
		Consolas, 'DejaVu Sans Mono', monospace;
	font-size: 1.5rem;
	text-decoration: none;
	color: var(--text);
	background-color: var(--secondary);
	padding: 4px 8px;
	border-radius: 8px;
}

.link:hover {
	filter: brightness(90%);
}

.link:focus {
	filter: brightness(75%);
}

.shoppingCartItems {
	font-size: 1.5rem;
}
