.storeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 8px;
}

.storeItemsList {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: space-between;
}
